// SPDX-License-Identifier: GPL-2.0
/* Copyright (c) 2016, The Linux Foundation. All rights reserved. */

/dts-v1/;

#include "msm8998-oneplus-cheeseburger.dtsi"

/ {
	model = "OnePlus 5 (cheeseburger)";
	compatible = "oneplus,cheeseburger", "qcom,msm8998";

	qcom,board-id = <8 0 16859 23>;
};
