// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8998-oneplus-common.dtsi"

/ {
	model = "OnePlus 5T (dumpling)";
	compatible = "oneplus,dumpling", "qcom,msm8998";
	/* Required for bootloader to select correct board */
	qcom,board-id = <8 0 17801 53>;
};

/* Adjust digitizer area height to match the 5T's taller panel */
&rmi4_f12 {
	touchscreen-y-mm = <137>;
};

/* Display panel */
&mmcc {
	status = "okay";
};

&mmss_smmu {
	status = "okay";
};

&mdss {
	status = "okay";
};

&mdss_mdp {
	status = "okay";
};

&dsi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	vdd-supply = <&vreg_l1a_0p875>;
	vdda-supply = <&vreg_l2a_1p2>;

	panel: panel@0 {
		compatible = "samsung,s6e3fc1";
		reg = <0>;

		reset-gpios = <&tlmm 94 GPIO_ACTIVE_LOW>;
		disp-te-gpios = <&tlmm 11 GPIO_ACTIVE_LOW>;

		vddio-supply = <&vreg_l14a_1p88>;

		pinctrl-names = "default";
		pinctrl-0 = <&panel_reset_n &disp_en_default &mdp_vsync_n>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi0_out>;
			};
		};
	};
};

&dsi0_phy {
	status = "okay";
};

&dsi0_out {
	remote-endpoint = <&panel_in>;
	data-lanes = <0 1 2 3>;
};

&tlmm {
	disp_en_default: disp-en {
		pins = "gpio62";
		function = "gpio";
		drive-strength = <8>;       /* 8 mA */
		bias-disable;               /* NO pull */
	};

	panel_reset_n: panel-rst-n {
		pins = "gpio94";
		function = "gpio";
		drive-strength = <8>;       /* 8 mA */
		bias-disable;               /* NO pull */
	};

	mdp_vsync_n: mdp-vsync-n {
		pins = "gpio11";
		function = "mdp_vsync_a"; // 'mdp_vsync'
		drive-strength = <2>;       /* 2 mA */
		bias-pull-down;             /* pull down */
	};
};
